In [94]:
import pyspark

In [95]:
from pyspark.sql import SparkSession

In [96]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [97]:
spark

In [98]:
df = spark.read.option('header','true').csv("final_dataset.csv")

In [99]:
df.show()

+---+--------+-------------+-------------+----+----+---+----+----+----+----+---+---+---+---+---+---+---+---+---+---+---+---+---+------------+------------+---------+---------+------------+------------+-------------+-------------+------------+------------+-------------+-------------+----+----+-------+-----------+
|_c0|    Date|     HomeTeam|     AwayTeam|FTHG|FTAG|FTR|HTGS|ATGS|HTGC|ATGC|HTP|ATP|HM1|HM2|HM3|HM4|HM5|AM1|AM2|AM3|AM4|AM5| MW|HTFormPtsStr|ATFormPtsStr|HTFormPts|ATFormPts|HTWinStreak3|HTWinStreak5|HTLossStreak3|HTLossStreak5|ATWinStreak3|ATWinStreak5|ATLossStreak3|ATLossStreak5|HTGD|ATGD|DiffPts|DiffFormPts|
+---+--------+-------------+-------------+----+----+---+----+----+----+----+---+---+---+---+---+---+---+---+---+---+---+---+---+------------+------------+---------+---------+------------+------------+-------------+-------------+------------+------------+-------------+-------------+----+----+-------+-----------+
|  0|19/08/00|     Charlton|     Man City|   4|   0|  H|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  1|19/08/00|      Chelsea|     West Ham|   4|   2|  H|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  2|19/08/00|     Coventry|Middlesbrough|   1|   3| NH|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  3|19/08/00|        Derby|  Southampton|   2|   2| NH|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  4|19/08/00|        Leeds|      Everton|   2|   0|  H|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  5|19/08/00|    Leicester|  Aston Villa|   0|   0| NH|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  6|19/08/00|    Liverpool|     Bradford|   1|   0|  H|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  7|19/08/00|   Sunderland|      Arsenal|   1|   0|  H|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  8|19/08/00|    Tottenham|      Ipswich|   3|   1|  H|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
|  9|20/08/00|   Man United|    Newcastle|   2|   0|  H|   0|   0|   0|   0|0.0|0.0|  M|  M|  M|  M|  M|  M|  M|  M|  M|  M|1.0|       MMMMM|       MMMMM|        0|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0| 0.0|    0.0|        0.0|
| 10|21/08/00|      Arsenal|    Liverpool|   2|   0|  H|   0|   1|   1|   0|0.0|1.5|  L|  M|  M|  M|  M|  W|  M|  M|  M|  M|2.0|       LMMMM|       WMMMM|        0|        3|           0|           0|            0|            0|           0|           0|            0|            0|-0.5| 0.5|   -1.5|       -1.5|
| 11|22/08/00|     Bradford|      Chelsea|   2|   0|  H|   0|   4|   1|   2|0.0|1.5|  L|  M|  M|  M|  M|  W|  M|  M|  M|  M|2.0|       LMMMM|       WMMMM|        0|        3|           0|           0|            0|            0|           0|           0|            0|            0|-0.5| 1.0|   -1.5|       -1.5|
| 12|22/08/00|      Ipswich|   Man United|   1|   1| NH|   1|   2|   3|   0|0.0|1.5|  L|  M|  M|  M|  M|  W|  M|  M|  M|  M|2.0|       LMMMM|       WMMMM|        0|        3|           0|           0|            0|            0|           0|           0|            0|            0|-1.0| 1.0|   -1.5|       -1.5|
| 13|22/08/00|Middlesbrough|    Tottenham|   1|   1| NH|   3|   3|   1|   1|1.5|1.5|  W|  M|  M|  M|  M|  W|  M|  M|  M|  M|2.0|       WMMMM|       WMMMM|        3|        3|           0|           0|            0|            0|           0|           0|            0|            0| 1.0| 1.0|    0.0|        0.0|
| 14|23/08/00|      Everton|     Charlton|   3|   0|  H|   0|   4|   2|   0|0.0|1.5|  L|  M|  M|  M|  M|  W|  M|  M|  M|  M|2.0|       LMMMM|       WMMMM|        0|        3|           0|           0|            0|            0|           0|           0|            0|            0|-1.0| 2.0|   -1.5|       -1.5|
| 15|23/08/00|     Man City|   Sunderland|   4|   2|  H|   0|   1|   4|   0|0.0|1.5|  L|  M|  M|  M|  M|  W|  M|  M|  M|  M|2.0|       LMMMM|       WMMMM|        0|        3|           0|           0|            0|            0|           0|           0|            0|            0|-2.0| 0.5|   -1.5|       -1.5|
| 16|23/08/00|    Newcastle|        Derby|   3|   2|  H|   0|   2|   2|   2|0.0|0.5|  L|  M|  M|  M|  M|  D|  M|  M|  M|  M|2.0|       LMMMM|       DMMMM|        0|        1|           0|           0|            0|            0|           0|           0|            0|            0|-1.0| 0.0|   -0.5|       -0.5|
| 17|23/08/00|  Southampton|     Coventry|   1|   2| NH|   2|   1|   2|   3|0.5|0.0|  D|  M|  M|  M|  M|  L|  M|  M|  M|  M|2.0|       DMMMM|       LMMMM|        1|        0|           0|           0|            0|            0|           0|           0|            0|            0| 0.0|-1.0|    0.5|        0.5|
| 18|23/08/00|     West Ham|    Leicester|   0|   1| NH|   2|   0|   4|   0|0.0|0.5|  L|  M|  M|  M|  M|  D|  M|  M|  M|  M|2.0|       LMMMM|       DMMMM|        0|        1|           0|           0|            0|            0|           0|           0|            0|            0|-1.0| 0.0|   -0.5|       -0.5|
| 19|26/08/00|      Arsenal|     Charlton|   5|   3|  H|   0|   4|   1|   0|0.0|1.5|  L|  M|  M|  M|  M|  W|  M|  M|  M|  M|2.0|       LMMMM|       WMMMM|        0|        3|           0|           0|            0|            0|           0|           0|            0|            0|-0.5| 2.0|   -1.5|       -1.5|
+---+--------+-------------+-------------+----+----+---+----+----+----+----+---+---+---+---+---+---+---+---+---+---+---+---+---+------------+------------+---------+---------+------------+------------+-------------+-------------+------------+------------+-------------+-------------+----+----+-------+-----------+
only showing top 20 rows

In [100]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- HomeTeam: string (nullable = true)
 |-- AwayTeam: string (nullable = true)
 |-- FTHG: string (nullable = true)
 |-- FTAG: string (nullable = true)
 |-- FTR: string (nullable = true)
 |-- HTGS: string (nullable = true)
 |-- ATGS: string (nullable = true)
 |-- HTGC: string (nullable = true)
 |-- ATGC: string (nullable = true)
 |-- HTP: string (nullable = true)
 |-- ATP: string (nullable = true)
 |-- HM1: string (nullable = true)
 |-- HM2: string (nullable = true)
 |-- HM3: string (nullable = true)
 |-- HM4: string (nullable = true)
 |-- HM5: string (nullable = true)
 |-- AM1: string (nullable = true)
 |-- AM2: string (nullable = true)
 |-- AM3: string (nullable = true)
 |-- AM4: string (nullable = true)
 |-- AM5: string (nullable = true)
 |-- MW: string (nullable = true)
 |-- HTFormPtsStr: string (nullable = true)
 |-- ATFormPtsStr: string (nullable = true)
 |-- HTFormPts: string (nullable = true)
 |-- ATFormPts: string (nullable = true)
 |-- HTWinStreak3: string (nullable = true)
 |-- HTWinStreak5: string (nullable = true)
 |-- HTLossStreak3: string (nullable = true)
 |-- HTLossStreak5: string (nullable = true)
 |-- ATWinStreak3: string (nullable = true)
 |-- ATWinStreak5: string (nullable = true)
 |-- ATLossStreak3: string (nullable = true)
 |-- ATLossStreak5: string (nullable = true)
 |-- HTGD: string (nullable = true)
 |-- ATGD: string (nullable = true)
 |-- DiffPts: string (nullable = true)
 |-- DiffFormPts: string (nullable = true)

In [101]:
df = df.drop("c0","FTHG","FTAG","HTGS","ATGS","HTGC","ATGC","HTP","ATP","HM1","HM2","HM3","HM4","HM5","AM1","AM2","AM3","AM4","AM5","MW","HTFormPtsStr","ATFormPtsStr","HTFormPts","ATFormPts","HTWinStreak3","HTWinStreak5","HTLossStreak3","HTLossStreak5","ATWinStreak3","ATWinStreak5","ATLossStreak3","ATLossStreak5","HTGD","ATGD","DiffPts","DiffFormPts")

In [102]:
df.show()

+---+--------+-------------+-------------+---+
|_c0|    Date|     HomeTeam|     AwayTeam|FTR|
+---+--------+-------------+-------------+---+
|  0|19/08/00|     Charlton|     Man City|  H|
|  1|19/08/00|      Chelsea|     West Ham|  H|
|  2|19/08/00|     Coventry|Middlesbrough| NH|
|  3|19/08/00|        Derby|  Southampton| NH|
|  4|19/08/00|        Leeds|      Everton|  H|
|  5|19/08/00|    Leicester|  Aston Villa| NH|
|  6|19/08/00|    Liverpool|     Bradford|  H|
|  7|19/08/00|   Sunderland|      Arsenal|  H|
|  8|19/08/00|    Tottenham|      Ipswich|  H|
|  9|20/08/00|   Man United|    Newcastle|  H|
| 10|21/08/00|      Arsenal|    Liverpool|  H|
| 11|22/08/00|     Bradford|      Chelsea|  H|
| 12|22/08/00|      Ipswich|   Man United| NH|
| 13|22/08/00|Middlesbrough|    Tottenham| NH|
| 14|23/08/00|      Everton|     Charlton|  H|
| 15|23/08/00|     Man City|   Sunderland|  H|
| 16|23/08/00|    Newcastle|        Derby|  H|
| 17|23/08/00|  Southampton|     Coventry| NH|
| 18|23/08/00|     West Ham|    Leicester| NH|
| 19|26/08/00|      Arsenal|     Charlton|  H|
+---+--------+-------------+-------------+---+
only showing top 20 rows

In [103]:
from pyspark.ml.feature import StringIndexer

label_stringIdx = StringIndexer(inputCol = 'FTR', outputCol = 'labelIndex')
df = label_stringIdx.fit(df).transform(df)
df.show()

+---+--------+-------------+-------------+---+----------+
|_c0|    Date|     HomeTeam|     AwayTeam|FTR|labelIndex|
+---+--------+-------------+-------------+---+----------+
|  0|19/08/00|     Charlton|     Man City|  H|       1.0|
|  1|19/08/00|      Chelsea|     West Ham|  H|       1.0|
|  2|19/08/00|     Coventry|Middlesbrough| NH|       0.0|
|  3|19/08/00|        Derby|  Southampton| NH|       0.0|
|  4|19/08/00|        Leeds|      Everton|  H|       1.0|
|  5|19/08/00|    Leicester|  Aston Villa| NH|       0.0|
|  6|19/08/00|    Liverpool|     Bradford|  H|       1.0|
|  7|19/08/00|   Sunderland|      Arsenal|  H|       1.0|
|  8|19/08/00|    Tottenham|      Ipswich|  H|       1.0|
|  9|20/08/00|   Man United|    Newcastle|  H|       1.0|
| 10|21/08/00|      Arsenal|    Liverpool|  H|       1.0|
| 11|22/08/00|     Bradford|      Chelsea|  H|       1.0|
| 12|22/08/00|      Ipswich|   Man United| NH|       0.0|
| 13|22/08/00|Middlesbrough|    Tottenham| NH|       0.0|
| 14|23/08/00|      Everton|     Charlton|  H|       1.0|
| 15|23/08/00|     Man City|   Sunderland|  H|       1.0|
| 16|23/08/00|    Newcastle|        Derby|  H|       1.0|
| 17|23/08/00|  Southampton|     Coventry| NH|       0.0|
| 18|23/08/00|     West Ham|    Leicester| NH|       0.0|
| 19|26/08/00|      Arsenal|     Charlton|  H|       1.0|
+---+--------+-------------+-------------+---+----------+
only showing top 20 rows

In [104]:
from pyspark.ml.feature import StringIndexer

label_stringIdx = StringIndexer(inputCol = 'HomeTeam', outputCol = 'HT')
df = label_stringIdx.fit(df).transform(df)
df.show()

+---+--------+-------------+-------------+---+----------+----+
|_c0|    Date|     HomeTeam|     AwayTeam|FTR|labelIndex|  HT|
+---+--------+-------------+-------------+---+----------+----+
|  0|19/08/00|     Charlton|     Man City|  H|       1.0|20.0|
|  1|19/08/00|      Chelsea|     West Ham|  H|       1.0| 1.0|
|  2|19/08/00|     Coventry|Middlesbrough| NH|       0.0|40.0|
|  3|19/08/00|        Derby|  Southampton| NH|       0.0|32.0|
|  4|19/08/00|        Leeds|      Everton|  H|       1.0|28.0|
|  5|19/08/00|    Leicester|  Aston Villa| NH|       0.0|21.0|
|  6|19/08/00|    Liverpool|     Bradford|  H|       1.0| 3.0|
|  7|19/08/00|   Sunderland|      Arsenal|  H|       1.0|10.0|
|  8|19/08/00|    Tottenham|      Ipswich|  H|       1.0| 5.0|
|  9|20/08/00|   Man United|    Newcastle|  H|       1.0| 4.0|
| 10|21/08/00|      Arsenal|    Liverpool|  H|       1.0| 0.0|
| 11|22/08/00|     Bradford|      Chelsea|  H|       1.0|37.0|
| 12|22/08/00|      Ipswich|   Man United| NH|       0.0|35.0|
| 13|22/08/00|Middlesbrough|    Tottenham| NH|       0.0|17.0|
| 14|23/08/00|      Everton|     Charlton|  H|       1.0| 2.0|
| 15|23/08/00|     Man City|   Sunderland|  H|       1.0| 6.0|
| 16|23/08/00|    Newcastle|        Derby|  H|       1.0| 8.0|
| 17|23/08/00|  Southampton|     Coventry| NH|       0.0|15.0|
| 18|23/08/00|     West Ham|    Leicester| NH|       0.0| 9.0|
| 19|26/08/00|      Arsenal|     Charlton|  H|       1.0| 0.0|
+---+--------+-------------+-------------+---+----------+----+
only showing top 20 rows

In [105]:
from pyspark.ml.feature import StringIndexer

label_stringIdx = StringIndexer(inputCol = 'AwayTeam', outputCol = 'AT')
df = label_stringIdx.fit(df).transform(df)
df.show()

+---+--------+-------------+-------------+---+----------+----+----+
|_c0|    Date|     HomeTeam|     AwayTeam|FTR|labelIndex|  HT|  AT|
+---+--------+-------------+-------------+---+----------+----+----+
|  0|19/08/00|     Charlton|     Man City|  H|       1.0|20.0| 6.0|
|  1|19/08/00|      Chelsea|     West Ham|  H|       1.0| 1.0| 9.0|
|  2|19/08/00|     Coventry|Middlesbrough| NH|       0.0|40.0|17.0|
|  3|19/08/00|        Derby|  Southampton| NH|       0.0|32.0|15.0|
|  4|19/08/00|        Leeds|      Everton|  H|       1.0|28.0| 2.0|
|  5|19/08/00|    Leicester|  Aston Villa| NH|       0.0|21.0| 7.0|
|  6|19/08/00|    Liverpool|     Bradford|  H|       1.0| 3.0|37.0|
|  7|19/08/00|   Sunderland|      Arsenal|  H|       1.0|10.0| 0.0|
|  8|19/08/00|    Tottenham|      Ipswich|  H|       1.0| 5.0|35.0|
|  9|20/08/00|   Man United|    Newcastle|  H|       1.0| 4.0| 8.0|
| 10|21/08/00|      Arsenal|    Liverpool|  H|       1.0| 0.0| 3.0|
| 11|22/08/00|     Bradford|      Chelsea|  H|       1.0|37.0| 1.0|
| 12|22/08/00|      Ipswich|   Man United| NH|       0.0|35.0| 4.0|
| 13|22/08/00|Middlesbrough|    Tottenham| NH|       0.0|17.0| 5.0|
| 14|23/08/00|      Everton|     Charlton|  H|       1.0| 2.0|20.0|
| 15|23/08/00|     Man City|   Sunderland|  H|       1.0| 6.0|10.0|
| 16|23/08/00|    Newcastle|        Derby|  H|       1.0| 8.0|32.0|
| 17|23/08/00|  Southampton|     Coventry| NH|       0.0|15.0|40.0|
| 18|23/08/00|     West Ham|    Leicester| NH|       0.0| 9.0|21.0|
| 19|26/08/00|      Arsenal|     Charlton|  H|       1.0| 0.0|20.0|
+---+--------+-------------+-------------+---+----------+----+----+
only showing top 20 rows

In [106]:
from pyspark.ml.feature import VectorAssembler

numericCols = ['HT', 'AT']
assembler = VectorAssembler(inputCols=numericCols, outputCol="features")
df = assembler.transform(df)
df.show()

+---+--------+-------------+-------------+---+----------+----+----+-----------+
|_c0|    Date|     HomeTeam|     AwayTeam|FTR|labelIndex|  HT|  AT|   features|
+---+--------+-------------+-------------+---+----------+----+----+-----------+
|  0|19/08/00|     Charlton|     Man City|  H|       1.0|20.0| 6.0| [20.0,6.0]|
|  1|19/08/00|      Chelsea|     West Ham|  H|       1.0| 1.0| 9.0|  [1.0,9.0]|
|  2|19/08/00|     Coventry|Middlesbrough| NH|       0.0|40.0|17.0|[40.0,17.0]|
|  3|19/08/00|        Derby|  Southampton| NH|       0.0|32.0|15.0|[32.0,15.0]|
|  4|19/08/00|        Leeds|      Everton|  H|       1.0|28.0| 2.0| [28.0,2.0]|
|  5|19/08/00|    Leicester|  Aston Villa| NH|       0.0|21.0| 7.0| [21.0,7.0]|
|  6|19/08/00|    Liverpool|     Bradford|  H|       1.0| 3.0|37.0| [3.0,37.0]|
|  7|19/08/00|   Sunderland|      Arsenal|  H|       1.0|10.0| 0.0| [10.0,0.0]|
|  8|19/08/00|    Tottenham|      Ipswich|  H|       1.0| 5.0|35.0| [5.0,35.0]|
|  9|20/08/00|   Man United|    Newcastle|  H|       1.0| 4.0| 8.0|  [4.0,8.0]|
| 10|21/08/00|      Arsenal|    Liverpool|  H|       1.0| 0.0| 3.0|  [0.0,3.0]|
| 11|22/08/00|     Bradford|      Chelsea|  H|       1.0|37.0| 1.0| [37.0,1.0]|
| 12|22/08/00|      Ipswich|   Man United| NH|       0.0|35.0| 4.0| [35.0,4.0]|
| 13|22/08/00|Middlesbrough|    Tottenham| NH|       0.0|17.0| 5.0| [17.0,5.0]|
| 14|23/08/00|      Everton|     Charlton|  H|       1.0| 2.0|20.0| [2.0,20.0]|
| 15|23/08/00|     Man City|   Sunderland|  H|       1.0| 6.0|10.0| [6.0,10.0]|
| 16|23/08/00|    Newcastle|        Derby|  H|       1.0| 8.0|32.0| [8.0,32.0]|
| 17|23/08/00|  Southampton|     Coventry| NH|       0.0|15.0|40.0|[15.0,40.0]|
| 18|23/08/00|     West Ham|    Leicester| NH|       0.0| 9.0|21.0| [9.0,21.0]|
| 19|26/08/00|      Arsenal|     Charlton|  H|       1.0| 0.0|20.0| [0.0,20.0]|
+---+--------+-------------+-------------+---+----------+----+----+-----------+
only showing top 20 rows

In [108]:
df = df.toPandas()
print(df)

       _c0      Date     HomeTeam       AwayTeam FTR  labelIndex    HT    AT  \
0        0  19/08/00     Charlton       Man City   H         1.0  20.0   6.0
1        1  19/08/00      Chelsea       West Ham   H         1.0   1.0   9.0
2        2  19/08/00     Coventry  Middlesbrough  NH         0.0  40.0  17.0
3        3  19/08/00        Derby    Southampton  NH         0.0  32.0  15.0
4        4  19/08/00        Leeds        Everton   H         1.0  28.0   2.0
...    ...       ...          ...            ...  ..         ...   ...   ...
6835  6835  13/05/18    Newcastle        Chelsea   H         1.0   8.0   1.0
6836  6836  13/05/18  Southampton       Man City  NH         0.0  15.0   6.0
6837  6837  13/05/18      Swansea          Stoke  NH         0.0  23.0  16.0
6838  6838  13/05/18    Tottenham      Leicester   H         1.0   5.0  21.0
6839  6839  13/05/18     West Ham        Everton   H         1.0   9.0   2.0

          features
0      [20.0, 6.0]
1       [1.0, 9.0]
2     [40.0, 17.0]
3     [32.0, 15.0]
4      [28.0, 2.0]
...            ...
6835    [8.0, 1.0]
6836   [15.0, 6.0]
6837  [23.0, 16.0]
6838   [5.0, 21.0]
6839    [9.0, 2.0]

[6840 rows x 9 columns]

In [109]:
df.head()

,_c0,Date,HomeTeam,AwayTeam,FTR,labelIndex,HT,AT,features
0,0,19/08/00,Charlton,Man City,H,1.0,20.0,6.0,"[20.0, 6.0]"
1,1,19/08/00,Chelsea,West Ham,H,1.0,1.0,9.0,"[1.0, 9.0]"
2,2,19/08/00,Coventry,Middlesbrough,NH,0.0,40.0,17.0,"[40.0, 17.0]"
3,3,19/08/00,Derby,Southampton,NH,0.0,32.0,15.0,"[32.0, 15.0]"
4,4,19/08/00,Leeds,Everton,H,1.0,28.0,2.0,"[28.0, 2.0]"

In [114]:
train = df[df["Date"] < '2009-01-01']
test = df[df["Date"] > '2009-01-01']

In [115]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, min_samples_split=10, random_state=1)
predictors = ["HT", "AT"]
rf.fit(train[predictors], train["labelIndex"])

RandomForestClassifier(min_samples_split=10, random_state=1)

In [117]:
import pickle
pickle.dump(rf,open('model1','wb'))

In [120]:
df[["HomeTeam", "HT"]].value_counts()

HomeTeam          HT
Arsenal           0.0     342
Tottenham         5.0     342
Man United        4.0     342
Everton           2.0     342
Chelsea           1.0     342
Liverpool         3.0     342
Man City          6.0     323
Aston Villa       7.0     304
Newcastle         8.0     304
West Ham          9.0     285
Sunderland        10.0    266
Fulham            11.0    247
West Brom         12.0    228
Bolton            14.0    209
Southampton       15.0    209
Blackburn         13.0    209
Stoke             16.0    190
Middlesbrough     17.0    171
Wigan             18.0    152
Swansea           23.0    133
Portsmouth        22.0    133
Leicester         21.0    133
Charlton          20.0    133
Birmingham        19.0    133
Crystal Palace    24.0    114
Hull              25.0     95
Norwich           26.0     95
Leeds             28.0     76
Watford           29.0     76
Burnley           27.0     76
Wolves            30.0     76
QPR               33.0     57
Reading           34.0     57
Derby             32.0     57
Bournemouth       31.0     57
Ipswich           35.0     38
Coventry          40.0     19
Cardiff           39.0     19
Brighton          38.0     19
Bradford          37.0     19
Middlesboro       42.0     19
Blackpool         36.0     19
Huddersfield      41.0     19
Sheffield United  43.0     19
dtype: int64